---
layout: default
---

<div class="post">


<div class="row">
  <div class="col-sm-8 mt-3 mt-md-0">
    <h1 class="post-title">
     {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h1>
    
    <p style="font-size:14px;">
<a href="http://www.eutops.info" target="_blank">Universität Innsbruck</a> • <a href="http://www.ucl.ac.uk" target="_blank">University College London<br></a><br>
<div style="font-size:15px;"><b>Computational biologist with a background in molecular medicine working on epigenetics, ageing, and disease prevention.</b></div>
    </p>
         
    <div class="social" style="margin-top:20px">
      <div class="contact-icons">
        <p style="text-align:left;">{% include social.html %}</p>
      <p style="text-align:left; font-size:14px; margin-top:-10px;">{{ site.contact_note }}
      </div>
    </div>
    

</div>
     
  <div class="col-sm-4 mt-3 mt-md-0" style="float:right;">
      <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}" >
  </div>
</div>



    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}
<br>
  

</div>